.app-register {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); 
    background: url("../../../assets/404.jpeg") no-repeat;
    background-position: center;
    background-size: cover;
}


.error-404 {
    position: absolute;
    bottom: 3em;
    margin:0 auto;
}

.btn-home {
    background: #f1c40f;
    color: black;
    padding: 2em 4em;
    transition: color 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-weight: bold;
}

.btn-home:hover {
    color: white;
}

@media (max-width: 768px) {
    .app-register {
        padding: 2em;
    }
}