.games_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 110px);
    width: 100%;
    padding: 1em;
    margin: 0;
    margin-top: 10px;
}

.games_list {
    width: 300px;
    padding: 1em;
    height: auto;
}

.mat-nav-list a {
    background: #636e72;
    margin-bottom: 5px;
    color: white;
    font-size: 1.3em;
    transition: color .3s ease-in-out;
}

.mat-nav-list a:hover {
    color: #ffaf40;
}

.charts {
    flex: 1;
    position: relative;
}


.btns_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.mat-raised-button {
    flex: 1;
    width: 100%;
    padding: 1em;
    font-size: 2em;
    color: white;
    margin-bottom: 5px;
    transition: color .3s ease-in-out;
}

.mat-raised-button:hover {
    color: #ffaf40;
}

.material-icons {
    padding-left:5px;
    font-size: 2em;
}


.btn_sunflower {
    background:  #636e72;
}

.btn_blue {
    background:  #636e72;
}

.btn_green {
    background: #636e72;
}

h2{
    font-weight: bold;
    font-size: 1,5em;
    color: #636e72;
}


@media (max-width: 600px) {
    .btns_container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: auto;
        order: 1;
        width: 100%;
    }

    .mat-raised-button {
        flex: 1;
        padding: 1em .5em;
        font-size: 100%;
        color: white;
        transition: color .3s ease-in-out;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .material-icons {
        display: none;
    }
    
}