<div class="games_container">
    <div class="games_list">
            <h2>Games list</h2>
            <mat-nav-list>
                <a mat-list-item (click) = "onClickSaveDate(dates.indexOf(date))" *ngFor="let date of dates"> {{ date }}  </a>
            </mat-nav-list>
    </div>

    <div class="charts">
        <canvas id="canvas">{{ chart }}</canvas>
    </div>
    
    
    <div class="btns_container">
        <button mat-raised-button class="btn_sunflower" (click)="timePerButtonChart()">
          Time per button <i class="material-icons">insert_chart_outlined</i>
        </button>
        <button mat-raised-button class="btn_blue" (click)="timePerAttemptChart()">
            Time per attempt <i class="material-icons"> show_chart</i>
          </button>
          <button mat-raised-button class="btn_green" (click)="hitsVsFailuresChart()">
              Hits vs Failures <i class="material-icons">pie_chart</i>
          </button>
    </div>
</div>


      
